#include <winver.h>

VS_VERSION_INFO VERSIONINFO /* http://msdn.microsoft.com/en-us/library/windows/desktop/aa381058.aspx */
 FILEVERSION 1,14,26,0
 PRODUCTVERSION 1,14,26,0
 FILEFLAGSMASK 0x3fL /* VS_FFI_FILEFLAGSMASK */
#ifdef _DEBUG
 FILEFLAGS 0x1L  /* VS_FF_DEBUG */
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L  /* VOS_NT_WINDOWS32 */
 FILETYPE 0x2L  /* VFT_DLL */
 FILESUBTYPE 0x0L  /* VFT2_UNKNOWN */
BEGIN
    BLOCK "StringFileInfo" /* http://msdn.microsoft.com/en-us/library/windows/desktop/aa381049.aspx */
    BEGIN
        BLOCK "040904b0"  /* Lang = US English, Charset = Unicode */
        BEGIN
            VALUE "CompanyName", "Free Software Foundation"
            VALUE "ProductName", "libiconv: character set conversion library"
            VALUE "FileDescription", "LGPLed libiconv for Windows XP or later"
            VALUE "ProductVersion", "1.14.26"
            VALUE "FileVersion", "1.14.26"
            VALUE "InternalName", "libiconv-2.dll"
            VALUE "OriginalFilename", "libiconv-2.dll"
            VALUE "LegalCopyright", "Copyright (C) 1999-2013" /* optional */
        END
    END
    BLOCK "VarFileInfo" /* http://msdn.microsoft.com/en-us/library/windows/desktop/aa381057.aspx */
    BEGIN
        VALUE "Translation", 0x0409, 1200  /* US English, Unicode */
    END
END
